<table border='0' cellborder='0' cellspacing='0'>
  <tr>
    <td><b>{caption}</b></td>
  </tr>
  <tr>
    <td>
      <table border='0' cellborder='0' cellspacing='0'>
        <tr>
          <td><img src='{icon}' /></td>
          <td>
            <table border='0' cellborder='0' cellspacing='0'>
              <tr><td valign='top'>{info_list}</td></tr>
              <tr><td>{flags_list}</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
{recipes_list}
{unlocks_list}
{resources_list}
{used_in_list}
</table>
